@import url('https://fonts.googleapis.com/css2?family=Supermercado+One&display=swap');
.list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    justify-content: space-between;
}

.goal {
    margin-bottom: 20px;
    position: relative;
}

.todoItem {
    font-size: 30px;
    font-family: 'Supermercado One', cursive;
    margin-top: 20px;
}

.deleteBtn {
    display: none;
    border-radius: 15px;
    position: absolute;
    top: 10px;
    left: 400px
}

.goal:hover .deleteBtn {
    display: block;
}