.goal {
    height: 350px;
    width: 450px;
    background-color: #fff;
    border: solid black 1px;
}

.add {
    border-radius: 15px;
    position: absolute;
    top: 5px;
    left: 360px
}

.red {
    height: 350px;
    width: 450px;
    background-color: red;
    border: solid black 1px;
}

.green {
    height: 350px;
    width: 450px;
    background-color: green;
    border: solid black 1px;
}

.pink {
    height: 350px;
    width: 450px;
    background-color: pink;
    border: solid black 1px;
}

.blue {
    height: 350px;
    width: 450px;
    background-color: blue;
    border: solid black 1px;
}