@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
.list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    justify-content: flex-start;
}

.list {
    position: relative;
}

.options {
    position: absolute;
    top: -50px;
    left: 1040px;
    border-radius: 10px;
    height: 43px;
}

.savelist {
    position: absolute;
    top: -50px;
    left: 870px;
    font-weight: 700;
    color: white;
    text-decoration: none;
    padding: .8em 1em calc(.8em + 3px);
    border-radius: 3px;
    background: rgb(64, 199, 129);
    box-shadow: 0 -3px rgb(53, 167, 110) inset;
    transition: 0.2s;
}

.desk-title {
    position: absolute;
    top: -50px;
    left: 700px;
    height: 37px;
}

.choose {
    position: absolute;
    top: -50px;
    left: 1100px;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: 2px solid #e74c3c;
    border-radius: 0.6em;
    color: #e74c3c;
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    font-size: 1rem;
    line-height: 1;
    padding: 13px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    border-color: #3498db;
    color: #fff;
    box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
    height: 41px;
}

.choose:hover,
.choose:focus {
    color: #fff;
    outline: 0;
    box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
}

.goal {
    margin-bottom: 20px;
    position: relative;
    margin-top: 40px;
    margin-right: 20px;
}

.todoItem {
    font-size: 30px;
    margin-top: 50px;
    font-family: 'Lobster', cursive;
}

.deleteBtn {
    display: none;
    border-radius: 15px;
    position: absolute;
    top: 10px;
    left: 320px;
}

.goal:hover .deleteBtn {
    display: block;
}