.App {
    text-align: center;
    position: relative;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.objectives {
    position: absolute;
    top: 250px;
    left: 500px;
}

.new-goal {
    position: absolute;
    left: 150px;
    top: -50px;
    display: inline-block;
    box-sizing: border-box;
    outline: none;
    height: 43px;
    line-height: 1;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    user-select: none;
    appearance: none;
    touch-action: manipulation;
    vertical-align: top;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: 2px solid #e74c3c;
    border-radius: 0.6em;
    color: #e74c3c;
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    padding: 13px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    border-color: #3498db;
    color: #fff;
    box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}

.new-desk {
    position: absolute;
    left: 350px;
    top: -50px;
    display: inline-block;
    box-sizing: border-box;
    outline: none;
    height: 43px;
    line-height: 1;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    user-select: none;
    appearance: none;
    touch-action: manipulation;
    vertical-align: top;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: 2px solid #e74c3c;
    border-radius: 0.6em;
    color: #e74c3c;
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    padding: 13px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    border-color: #3498db;
    color: #fff;
    box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}

.hide-tab {
    position: absolute;
    top: 3px;
    left: 320px;
    border-radius: 15px;
}

.legend {
    position: static;
    right: 0;
    bottom: 0;
    display: block;
    color: white;
    text-shadow: 1px 1px 2px black;
}

img {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: solid black 1px;
}

.leg-elem {
    margin-right: 10px;
}

.my-objective {
    margin: auto;
    justify-content: center;
    text-align: center;
    height: 100px;
    width: 300px;
    font-size: 20px;
    border: none;
    outline: none;
    background-color: inherit;
    box-sizing: border-box;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}