.App {
    text-align: center;
    position: relative;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.objectives {
    position: absolute;
    top: 250px;
    left: 350px;
}

.todoitem {
    background-color: red;
}

.new-goal {
    position: absolute;
    left: 800px;
    top: -30px;
}

.my-objective {
    margin: auto;
    justify-content: center;
    text-align: center;
    height: 100px;
    width: 300px;
    font-size: 20px;
    border: none;
    outline: none;
    background-color: inherit;
    box-sizing: border-box;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}